<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--    <title>City Articles</title>-->
<!--    <link rel="stylesheet" href="/static/css/style.css" />-->
<!--    <script>-->
<!--        function showArticle() {-->
<!--            const selectedCity = document.getElementById("citySelect").value;-->
<!--            const articles = document.querySelectorAll(".article");-->

<!--            articles.forEach(article => {-->
<!--                article.style.display = "none";  // Hide all articles-->
<!--            });-->

<!--            const articleToShow = document.getElementById(selectedCity + "-article");-->
<!--            if (articleToShow) {-->
<!--                articleToShow.style.display = "block";  // Show the selected city's article-->
<!--            }-->
<!--        }-->
<!--    </script>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    &lt;!&ndash; Dropdown for US Cities &ndash;&gt;-->
<!--    <form th:action="@{/news}" method="get">-->

<!--        <button type="submit" class="submit-button">Search again</button>-->
<!--    </form>-->

<!--    &lt;!&ndash; Articles Section &ndash;&gt;-->
<!--    <div id="articles">-->
<!--        &lt;!&ndash; Example articles for cities &ndash;&gt;-->
<!--        <div class="article">-->
<!--            <h1 th:text="'Article here:'"></h1>-->
<!--            <h2 th:text="'Title:' + ${news.getTitle()}"></h2>-->
<!--            <h2 th:text="'local: ' + ${news.isLocal()}"></h2>-->
<!--            <p th:text="${news.getContent()}"></p>-->
<!--            <p><a th:href="${news.url}">Link to news</a></p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
